        <script type='text/javascript' src='http://partner.googleadservices.com/gampad/google_service.js'>
        </script>
        <script type='text/javascript'>
            GS_googleAddAdSenseService("ca-pub-3724784126129021");
            GS_googleEnableAllServices();
        </script>
        <script type='text/javascript'>
            GA_googleAddSlot("ca-pub-3724784126129021", "Selector_Sitewide_ATF_Top_225x90");
            GA_googleAddSlot("ca-pub-3724784126129021", "Selector_Sitewide_ATF_Top_728x90");
            GA_googleAddSlot("ca-pub-3724784126129021", "Selector_Sitewide_Right_300x250");
            GA_googleAddSlot("ca-pub-3724784126129021", "SelectorNZ_Sitewide_ATF_Top_225x90");
            GA_googleAddSlot("ca-pub-3724784126129021", "SelectorNZ_Sitewide_ATF_Top_728x90");
            GA_googleAddSlot("ca-pub-3724784126129021", "SelectorNZ_Sitewide_Right_300x250");
            GA_googleAddSlot("ca-pub-3724784126129021", "ANow_AU_LB_footer_728x90");
            GA_googleAddSlot("ca-pub-3724784126129021", "ANow_AU_LB_header_728x90");
            GA_googleAddSlot("ca-pub-3724784126129021", "ANow_AU_MR_side_300x250");
            GA_googleAddSlot("ca-pub-3724784126129021", "ANow_AU_promo_footer_225x90");
            GA_googleAddSlot("ca-pub-3724784126129021", "ANow_AU_promo_header_225x90");
            GA_googleAddSlot("ca-pub-3724784126129021", "ANow_NZ_LB_footer_728x90");
            GA_googleAddSlot("ca-pub-3724784126129021", "ANow_NZ_LB_header_728x90");
            GA_googleAddSlot("ca-pub-3724784126129021", "ANow_NZ_MR_side_300x250");
            GA_googleAddSlot("ca-pub-3724784126129021", "ANow_NZ_promo_footer_225x90");
            GA_googleAddSlot("ca-pub-3724784126129021", "ANow_NZ_promo_header_225x90");
            GA_googleAddSlot("ca-pub-3724784126129021", "Urbis_LB_footer_728x90");
            GA_googleAddSlot("ca-pub-3724784126129021", "Urbis_LB_header_728x90");
            GA_googleAddSlot("ca-pub-3724784126129021", "Urbis_MR_side_300x250");
            GA_googleAddSlot("ca-pub-3724784126129021", "Urbis_promo_footer_225x90");
            GA_googleAddSlot("ca-pub-3724784126129021", "Urbis_promo_header_225x90");
        </script>
        <script type='text/javascript'>
            GA_googleFetchAds();
        </script>