
<figure class="leader-board">
<!-- Selector_Sitewide_ATF_Top_728x90 -->
<script type='text/javascript'>
GA_googleFillSlot("Selector_Sitewide_ATF_Top_728x90");
</script>
</figure>

{#  #}
{# {% thumbnail "/site_media/media/files/ads/museum.png" 728x90 crop=",0" as object_image %} #}
{# <figure class="leader-board"> #}
{# <img  #}
{#     src="/site_media/media/files/ads/museum.png" #}
{#     width="728"  #}
{#     height="90" /> #}
{#     <figcaption><span class="caption"></span></figcaption> #}
{# </figure> #}